p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#toggleButtons{
    text-align: center;
    padding: 5% 3% 3% 3%;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #dc143c;
}

.headerTitle{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.headerIcon{
    max-width: 100px;
    max-height: 100px;
    border-radius: 30%;
    border: 5px solid black;
}

.headerWords{
    display: flex;
    flex-direction: column;
}

.headerWords h1{
    margin-bottom: 0;
    padding-left: 10%;
}

.headerWords p{
    margin-top: 0;
    padding-left: 10%;
}

.navigation {
    display: none;
    flex-direction: column;
    list-style: none;
    text-align: center;
}

.navigation.open {
    display: flex;
    max-height: fit-content;
    padding-right: 20%;
}

#hamburger-button {
    font-size: 2rem;
    border: 0;
    background: none;
    color: black;
    position: absolute;
    top: 0.2rem;
    right: 1rem;
}

#hamburger-button::before {
    content: "≡";
}

#hamburger-button.open::before {
    content: "X";
}

footer{
    background-color: #dc143c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon{
    max-width: 44px;
    max-height: 44px;
    border-radius: 30%;
}

header nav {
    font-size: 1.5em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3%;
}

nav a{
    color: black;
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    color: #dc143c;
    background-color: slategrey;
}

.contactInfo, .classInfo{
    text-align: center;
}

.discover-content{
    display: flex;
    flex-direction: column;
}

.gallery{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

img{
 border: 5px solid black;
 border-radius: 10%;
}


@media screen and (min-width: 64rem) { 

    .discover-content{
        display: grid;
        grid-template-columns: 1fr 4fr;
    }
    
    .sidebar{
        grid-column: 1;
        padding-top: 5%;
        padding-left: 5%;
    }

    .gallery{
        grid-column: 2;
    }
    
    .hover-effect:hover{
        box-shadow: 0 0 50px #dc143c;
    }

    #hamburger-button{
        display: none;
    }

    .navigation{
        display: flex;
        flex-direction: row;
    }

    footer{
        display: flex;
        flex-direction: row;
        gap: 40px;
        align-items: center;
    }
}